.main {
    margin-top: 180px;
    margin-left: 5%;
    margin-right: 5%;
}

.search-and-filter {
    height: 100px;
}

.search-bar {
    background-color: white;
    border-width: 2px;
    border-radius: 2px;
    box-shadow: 0 3px 10px -7px #858585;
    width: 100%;
    margin-bottom: 30px;
}

.search-box {
    border: none;
    font-size: 25px;
    height: 80px;
    width: 90%;
}

.search-dark::placeholder {
    color: white;
    opacity: 1;
}

.dark-shadow {
    background-color: #2b3945 !important;
    color: white;
    box-shadow: 0 3px 10px -7px #202c37 !important;
}

.filter {
    display: inline-block;
    position: relative;
    height: 100px;
    font-size: 25px;
    width: 30%;
    margin-bottom: 70px;
    padding: 0 !important;
}

.drop-btn {
    background-color: #ffffff;
    border: none;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px -7px #858585;
    border-radius: 5px;
}

.drop-btn i {
    margin-left: 20%;
}

.Regions {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 1.5px;
    padding: 10px;
}

.Regions a {
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
}

.Regions a:hover {
    background-color: #ddd;
}

.filter:hover .Regions {
    display: block;
}

.search-bar>i {
    color: #858585;
}

.flag-grid {
    display: block;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
}


.grid-item {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px !important;
    border: none !important;
}

.item-info {
    font-size: 30px;
}

.h5-custom {
    font-weight: 800 !important;
    font-size: 35px !important;
}

.flag-img {
    width: 100%;
    height: 30%;
    object-fit: cover;
}

.countries {
    margin-top: 30px !important;
}

.no-border {
    border: none !important;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #000000 !important;
    text-decoration: none !important;
}

.star-light {
    color: black;
}

.star-dark {
    color: white;
}

.star-div {
    text-align: right;
    font-size: 35px;
    background-color: white;
}

.star-fav {
    color: #FFD700 !important;
}

@media only screen and (min-width: 1400px) {
    .main {
        margin-top: 120px;
    }

    .search-and-filter {
        height: auto;
    }

    .search-bar {
        display: flex;
        height: 50px;
        width: 33%;
        align-items: center;
        justify-content: space-around;
        margin: 0;
    }

    .search-box {
        height: auto;
        font-size: 14px;
    }

    .filter {
        font-size: 14px;
        height: 50px;
        width: 15%;
        margin-bottom: 0;
    }

    .grid-item {
        margin-top: 10px;
        margin-bottom: 40px;
        height: 320px;
        box-shadow: 0 1px 5px -3px #858585;
    }

    .item-info {
        padding: 0;
        margin: 10%;
        font-size: small;
    }

    .h5-custom {
        font-weight: 600 !important;
        font-size: 16px !important;
    }

    .flag-img {
        width: 100%;
        height: 180px;
    }

    .scroll-down {
        overflow-y: scroll;
    }

    .countries {
        height: calc(100vh - 220px) !important;
        width: 100%;
        margin-top: 0 !important;
    }

    .favorites-section {
        width: 20rem;
        height: calc(100vh - 227px) !important;
        background-color: white;
    }

    .favorites {
        width: 100%;
        height: calc(100vh - 300px) !important;
    }

    /* .tile-flag {
        height: 25px;
        width: 40px;
        object-fit: cover;
        border-radius: 7px;
        padding: 2px;
    }

    .fav-tile {
        height: 40px;
        padding: 5px;
    }

    .tile-txt {
        padding-left: 15px;
        font-weight: bolder;
    }
*/
    /* ::-webkit-scrollbar {
        width: 6px;
    } */

    /*
    .light-bar::-webkit-scrollbar-track {
        background: white;
    }


    .light-bar::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: #b3b3b3;
    }


    .light-bar::-webkit-scrollbar-thumb:hover {
        background: #858585;
    }

    .dark-bar::-webkit-scrollbar-track {
        background: #2b3945;
    }


    .dark-bar::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: #858585;
    }


    .dark-bar::-webkit-scrollbar-thumb:hover {
        background: white;
    }

    .hover-default:hover {
        cursor: pointer;
    }

    .dragged-element {
        opacity: 0.5;
    }

    .drop-list-dragover {
        outline: 1px solid #27ae60;
    } */
}