.main {
    padding: 20px;
}

.search-and-filter {
    height: 100px;
}

.search-bar {
    border-width: 2px;
    border-radius: 2px;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 30px;
}

.search-dark::placeholder {
    color: white;
    opacity: 1;
}

.dark-shadow {
    background-color: #2b3945 !important;
    color: white;
    box-shadow: 0 3px 10px -7px #202c37 !important;
}

.search-bar-icon {
    color: #858585;
}


.h5-custom {
    font-weight: 800 !important;
    font-size: 35px !important;
}

.countries {
    margin-top: 30px !important;
}

.no-border {
    border: none !important;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #000000 !important;
    text-decoration: none !important;
}

.star-light {
    color: black;
}

.star-dark {
    color: white;
}

.star-div {
    text-align: right;
    font-size: 35px;
    background-color: white;
}

.star-fav {
    color: #FFD700 !important;
}

@media only screen and (min-width: 992px) {
    .search-and-filter {
        height: auto;
    }

    .search-bar {
        display: flex;
        height: 50px;
        width: 33%;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 0;
    }

    .h5-custom {
        font-weight: 600 !important;
        font-size: 16px !important;
    }

    .scroll-down {
        overflow-y: scroll;
    }

    .countries {
        height: calc(100vh - 220px) !important;
        width: 100%;
        margin-top: 0 !important;
    }

    .favorites-section {
        width: 20rem;
        height: calc(100vh - 227px) !important;
    }

    .favorites {
        width: 100%;
        height: calc(100vh - 300px) !important;
    }
}